In [3]:
import plotly.tools as tls
tls.embed('https://plot.ly/~chris/7365')

In [48]:
import pandas as pd
from sqlalchemy import create_engine , func
import datetime as dt
from IPython.display import display
import plotly.plotly as py # interactive graphing
from plotly.graph_objs import Bar, Scatter, Marker, Layout, Histogram, Figure

py.plotly.sign_in("sfisoc", "s57zml09ny")

In [11]:
pd.set_option('display.max_columns', None)
df=pd.read_csv('data',nrows=5,header=5,names=[ "ID" , "CONTENT"  , "CREATEDAT" , "RETWEET" , "RTID" , "RTUSERNAME" , 
                                                      "OPEN_DATE" , "USERID" , "USERNAME" , "FULLNAME" , "DESCRIPTION" , 
                                                      "GEO_ENABLED" , "LATITUDE" , "LONGITUDE"  , "LOCATION" , "TIMEZONE" ,
                                                      "LANGUAGE" , "FOLLOWERS" , "FRIENDS" , "RTFOLLOWERS" , "TRANSLATOR" , 
                                                      "STATUS_COUNT" , "PROFILE_IMAGE" , "BACKGROUND_IMAGE" , "BANNER_IMAGE" , 
                                                      "IS_FRIEND" , "IS_FOLLOWER" , "IS_DEFAULT_PROFILE" , "SIZE" , 
                                                      "LAST_UPDATED" , "INREPLYTO" , "SOURCE" ])
display(df)
print pd.__version__

,ID,CONTENT,CREATEDAT,RETWEET,RTID,RTUSERNAME,OPEN_DATE,USERID,USERNAME,FULLNAME,DESCRIPTION,GEO_ENABLED,LATITUDE,LONGITUDE,LOCATION,TIMEZONE,LANGUAGE,FOLLOWERS,FRIENDS,RTFOLLOWERS,TRANSLATOR,STATUS_COUNT,PROFILE_IMAGE,BACKGROUND_IMAGE,BANNER_IMAGE,IS_FRIEND,IS_FOLLOWER,IS_DEFAULT_PROFILE,SIZE,LAST_UPDATED,INREPLYTO,SOURCE
0,682988187212460032,Last night wasn't all that great tbh,2016-01-01 18:14:07.0000000,0,NaN,NaN,2013-05-15 00:51:07.0000000,1429176558,Kitchen_sink33,Dan Sink,Guitarist/Bassist/70's + 90's rock/Trump 2016/...,0,NaN,NaN,NaN,NaN,en,405,335,NaN,0,5610,http://pbs.twimg.com/profile_images/6997207485...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/14291765...,0,1,0,2336,2016-03-02 02:32:20.9070000,-1,NaN
1,694644791817166848,Women were not allowed to run the marathon in ...,2016-02-02 22:13:18.0000000,0,NaN,NaN,2010-07-30 20:00:32.0000000,172858784,timkaine,Senator Tim Kaine,US Senator from Virginia. Husband & father of ...,1,NaN,NaN,NaN,Eastern Time (US & Canada),en,43148,719,NaN,0,6324,http://pbs.twimg.com/profile_images/1300989266...,http://pbs.twimg.com/profile_background_images...,https://pbs.twimg.com/profile_banners/17285878...,1,0,0,3264,2016-03-07 02:27:10.3710000,-1,"<a href=\http://twitter.com/download/iphone\"" ..."
2,615608428405366784,@Samcam06 it said about one of our first team ...,2015-06-29 19:51:01.0000000,0,NaN,NaN,2012-06-16 22:19:34.0000000,610316414,tonycottee1986,tonycottee1986,Not the real TC he's my fave player. West Ham...,0,NaN,NaN,Somerset,Amsterdam,en,960,1238,NaN,0,1879,http://pbs.twimg.com/profile_images/4991887419...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/61031641...,1,0,0,2984,2016-03-04 02:49:49.2840000,1437633338,"<a href=\http://twitter.com/download/android\""..."
3,700774993978912768,"im so Annoying t\,his is why i had no friends ...",2016-02-19 20:12:32.0000000,0,NaN,NaN,2012-08-04 20:57:52.0000000,737401830,wonswoon,ciara,im stronger than the other members. im sevente...,1,NaN,NaN,16 ~ she/they ~ ireland,Casablanca,en,8733,2407,NaN,0,37520,http://pbs.twimg.com/profile_images/7039331449...,http://pbs.twimg.com/profile_background_images...,https://pbs.twimg.com/profile_banners/73740183...,0,1,0,3008,2016-03-05 02:07:08.8380000,-1,"<a href=\http://twitter.com/download/iphone\"" ..."
4,424608182007103488,I have the flu... üôÄüí©üëé,2014-01-18 18:24:14.0000000,0,NaN,NaN,2013-08-03 16:17:02.0000000,1643156390,queenncam,Camren,‚úøjessi was here‚úø | Âçå,0,NaN,NaN,NaN,Eastern Time (US & Canada),en,26,53,NaN,0,125,http://pbs.twimg.com/profile_images/4950426387...,http://pbs.twimg.com/profile_background_images...,https://pbs.twimg.com/profile_banners/16431563...,0,1,0,2400,2016-03-05 02:46:56.4150000,-1,"<a href=\http://twitter.com\"" rel=\""nofollow\""..."

0.18.0

In [15]:
#!wc -l < data # Number of lines in dataset
df.dtypes

ID                      int64
CONTENT                object
CREATEDAT              object
RETWEET                 int64
RTID                  float64
RTUSERNAME            float64
OPEN_DATE              object
USERID                  int64
USERNAME               object
FULLNAME               object
DESCRIPTION            object
GEO_ENABLED             int64
LATITUDE              float64
LONGITUDE             float64
LOCATION               object
TIMEZONE               object
LANGUAGE               object
FOLLOWERS               int64
FRIENDS                 int64
RTFOLLOWERS           float64
TRANSLATOR              int64
STATUS_COUNT            int64
PROFILE_IMAGE          object
BACKGROUND_IMAGE       object
BANNER_IMAGE           object
IS_FRIEND               int64
IS_FOLLOWER             int64
IS_DEFAULT_PROFILE      int64
SIZE                    int64
LAST_UPDATED           object
INREPLYTO               int64
SOURCE                 object
dtype: object

In [10]:
disk_engine = create_engine('sqlite:///tweets.db')

In [15]:
start = dt.datetime.now()
chunksize = 20000
j = 0
index_start = 1

for df in pd.read_csv('data', chunksize=chunksize, iterator=True, encoding='utf-8',names=[ "ID" , "CONTENT"  , "CREATEDAT" , "RETWEET" , "RTID" , "RTUSERNAME" , "OPEN_DATE" , "USERID" , "USERNAME" , "FULLNAME" , "DESCRIPTION" , "GEO_ENABLED" , "LATITUDE" , "LONGITUDE"  , "LOCATION" , "TIMEZONE" , "LANGUAGE" , "FOLLOWERS" , "FRIENDS" , "RTFOLLOWERS" , "TRANSLATOR" , "STATUS_COUNT" , "PROFILE_IMAGE" , "BACKGROUND_IMAGE" , "BANNER_IMAGE" , "IS_FRIEND" , "IS_FOLLOWER" , "IS_DEFAULT_PROFILE" , "SIZE" , "LAST_UPDATED" , "INREPLYTO" , "SOURCE" ]
):
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    
    #df['CREATEDAT'] = pd.to_datetime(df['CREATEDAT'])
    #df['OPEN_DATE'] = pd.to_datetime(df['OPEN_DATE'])
    colums=[  "CONTENT"  , "CREATEDAT", "OPEN_DATE" , "USERID" , "USERNAME" , "FULLNAME" , "DESCRIPTION" ,"GEO_ENABLED"  , "LOCATION" , "TIMEZONE" 
            , "FOLLOWERS" ,"STATUS_COUNT" , "PROFILE_IMAGE" , "BACKGROUND_IMAGE" , "BANNER_IMAGE" ,"IS_DEFAULT_PROFILE" , 
            "LAST_UPDATED"  ]
    
    for c in df.colums
        if c not in colums
            df=df.drop(c,axis=1)
    
    j+=1
    print '{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize)

    df.to_sql('data', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

0 seconds: completed 20000 rows

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2825: DtypeWarning:

Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.

3 seconds: completed 40000 rows
7 seconds: completed 60000 rows
11 seconds: completed 80000 rows
15 seconds: completed 100000 rows
20 seconds: completed 120000 rows

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2825: DtypeWarning:

Columns (13,19,20,27) have mixed types. Specify dtype option on import or set low_memory=False.

25 seconds: completed 140000 rows

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2825: DtypeWarning:

Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.

31 seconds: completed 160000 rows

KeyboardInterrupt:

In [9]:
pd.set_option('display.max_columns', None)
df = pd.read_sql_query('SELECT * FROM data LIMIT 10', disk_engine)
display(df)

,index,ID,CONTENT,CREATEDAT,RETWEET,RTID,RTUSERNAME,OPEN_DATE,USERID,USERNAME,FULLNAME,DESCRIPTION,GEO_ENABLED,LATITUDE,LONGITUDE,LOCATION,TIMEZONE,LANGUAGE,FOLLOWERS,FRIENDS,RTFOLLOWERS,TRANSLATOR,STATUS_COUNT,PROFILE_IMAGE,BACKGROUND_IMAGE,BANNER_IMAGE,IS_FRIEND,IS_FOLLOWER,IS_DEFAULT_PROFILE,SIZE,LAST_UPDATED,INREPLYTO,SOURCE
0,0,684532631677964288,@genesisbimb @Megan51320 Is this your family?,2016-01-06 00:31:12.0000000,0,None,None,2014-12-25 01:18:04.0000000,2942393395,George_k410,George,sbhs class of '17,0,None,None,None,None,en,101,248,None,0,576,http://pbs.twimg.com/profile_images/6559334011...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/29423933...,0,1,0,2480,2016-03-02 02:27:19.2400000,3618701472,None
1,1,572315447464480768,@JeffreyAsa typing......,2015-03-02 08:40:10.0000000,0,None,None,2013-08-01 12:44:16.0000000,1637928565,babalola_biodun,babalola biodun,am babalola babatunde study @ Tai solarin univ...,0,None,None,"Lagos\,Nigeria",None,en,186,767,None,0,878,http://pbs.twimg.com/profile_images/6212057206...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/16379285...,0,1,0,2760,2016-03-02 02:06:40.1760000,393474189,None
2,2,682991170931298304,RT @DocInRealLife: Is there any better way to ...,2016-01-01 18:25:59.0000000,1,682990494473936896,DocInRealLife,2013-05-15 00:51:07.0000000,1429176558,Kitchen_sink33,Dan Sink,Guitarist/Bassist/70's + 90's rock/Trump 2016/...,0,None,None,None,None,en,405,335,36830,0,5610,http://pbs.twimg.com/profile_images/6997207485...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/14291765...,0,1,0,9712,2016-03-02 02:32:20.8960000,-1,None
3,3,684447502934892544,@POTUS I h8 u,2016-01-05 18:52:55.0000000,0,None,None,2014-12-25 01:18:04.0000000,2942393395,George_k410,George,sbhs class of '17,0,None,None,None,None,en,101,248,None,0,576,http://pbs.twimg.com/profile_images/6559334011...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/29423933...,0,1,0,2432,2016-03-02 02:27:19.2470000,1536791610,None
4,4,621925679555219456,Looking for someone to have it all and do it a...,2015-07-17 06:13:31.0000000,0,None,None,2015-01-10 08:11:28.0000000,2971444075,BIackEverything,mood,Join the dark side of twitter | *Copyrighted c...,1,None,None,None,Pacific Time (US & Canada),en,252473,88096,None,0,601,http://pbs.twimg.com/profile_images/6986626484...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/29714440...,0,1,0,2584,2016-03-02 02:06:40.2000000,-1,None
5,5,587984904455135232,"RT @officialdaddymo: Man U\, Man City and Chel...",2015-04-14 14:25:00.0000000,1,587983010856902656,officialdaddymo,2013-08-01 12:44:16.0000000,1637928565,babalola_biodun,babalola biodun,am babalola babatunde study @ Tai solarin univ...,0,None,None,"Lagos\,Nigeria",None,en,186,767,4160,0,878,http://pbs.twimg.com/profile_images/6212057206...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/16379285...,0,1,0,10216,2016-03-02 02:06:38.6770000,-1,None
6,6,682988187212460032,Last night wasn't all that great tbh,2016-01-01 18:14:07.0000000,0,None,None,2013-05-15 00:51:07.0000000,1429176558,Kitchen_sink33,Dan Sink,Guitarist/Bassist/70's + 90's rock/Trump 2016/...,0,None,None,None,None,en,405,335,None,0,5610,http://pbs.twimg.com/profile_images/6997207485...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/14291765...,0,1,0,2336,2016-03-02 02:32:20.9070000,-1,None
7,7,694644791817166848,Women were not allowed to run the marathon in ...,2016-02-02 22:13:18.0000000,0,None,None,2010-07-30 20:00:32.0000000,172858784,timkaine,Senator Tim Kaine,US Senator from Virginia. Husband & father of ...,1,None,None,None,Eastern Time (US & Canada),en,43148,719,None,0,6324,http://pbs.twimg.com/profile_images/1300989266...,http://pbs.twimg.com/profile_background_images...,https://pbs.twimg.com/profile_banners/17285878...,1,0,0,3264,2016-03-07 02:27:10.3710000,-1,"<a href=\http://twitter.com/download/iphone\"" ..."
8,8,615608428405366784,@Samcam06 it said about one of our first team ...,2015-06-29 19:51:01.0000000,0,None,None,2012-06-16 22:19:34.0000000,610316414,tonycottee1986,tonycottee1986,Not the real TC he's my fave player. West Ham...,0,None,None,Somerset,Amsterdam,en,960,1238,None,0,1879,http://pbs.twimg.com/profile_images/4991887419...,http://abs.twimg.com/images/themes/theme1/bg.png,https://pbs.twimg.com/profile_banners/61031641...,1,0,0,2984,2016-03-04 02:49:49.2840000,1437633338,"<a href=\http://twitter.com/download/android\""..."
9,9,700774993978912768,"im so Annoying t\,his is why i had no friends ...",2016-02-19 20:12:32.0000000,0,None,None,2012-08-04 20:57:52.0000000,737401830,wonswoon,ciara,im stronger than the other members. im sevente...,1,None,None,16 ~ she/they ~ ireland,Casablanca,en,8733,2407,None,0,37520,http://pbs.twimg.com/profile_images/7039331449...,http://pbs.twimg.com/profile_background_images...,https://pbs.twimg.com/profile_banners/73740183...,0,1,0,3008,2016-03-05 02:07:08.8380000,-1,"<a href=\http://twitter.com/download/iphone\"" ..."

In [34]:
df = pd.read_sql_query('SELECT USERID ,USERNAME,FULLNAME,DESCRIPTION,GEO_ENABLED,LATITUDE,LONGITUDE,LOCATION,TIMEZONE,PROFILE_IMAGE,BACKGROUND_IMAGE FROM data LIMIT 10', disk_engine)
display(df)

,USERID,USERNAME,FULLNAME,DESCRIPTION,GEO_ENABLED,LATITUDE,LONGITUDE,LOCATION,TIMEZONE,PROFILE_IMAGE,BACKGROUND_IMAGE
0,2942393395,George_k410,George,sbhs class of '17,0,None,None,None,None,http://pbs.twimg.com/profile_images/6559334011...,http://abs.twimg.com/images/themes/theme1/bg.png
1,1637928565,babalola_biodun,babalola biodun,am babalola babatunde study @ Tai solarin univ...,0,None,None,"Lagos\,Nigeria",None,http://pbs.twimg.com/profile_images/6212057206...,http://abs.twimg.com/images/themes/theme1/bg.png
2,1429176558,Kitchen_sink33,Dan Sink,Guitarist/Bassist/70's + 90's rock/Trump 2016/...,0,None,None,None,None,http://pbs.twimg.com/profile_images/6997207485...,http://abs.twimg.com/images/themes/theme1/bg.png
3,2942393395,George_k410,George,sbhs class of '17,0,None,None,None,None,http://pbs.twimg.com/profile_images/6559334011...,http://abs.twimg.com/images/themes/theme1/bg.png
4,2971444075,BIackEverything,mood,Join the dark side of twitter | *Copyrighted c...,1,None,None,None,Pacific Time (US & Canada),http://pbs.twimg.com/profile_images/6986626484...,http://abs.twimg.com/images/themes/theme1/bg.png
5,1637928565,babalola_biodun,babalola biodun,am babalola babatunde study @ Tai solarin univ...,0,None,None,"Lagos\,Nigeria",None,http://pbs.twimg.com/profile_images/6212057206...,http://abs.twimg.com/images/themes/theme1/bg.png
6,1429176558,Kitchen_sink33,Dan Sink,Guitarist/Bassist/70's + 90's rock/Trump 2016/...,0,None,None,None,None,http://pbs.twimg.com/profile_images/6997207485...,http://abs.twimg.com/images/themes/theme1/bg.png
7,172858784,timkaine,Senator Tim Kaine,US Senator from Virginia. Husband & father of ...,1,None,None,None,Eastern Time (US & Canada),http://pbs.twimg.com/profile_images/1300989266...,http://pbs.twimg.com/profile_background_images...
8,610316414,tonycottee1986,tonycottee1986,Not the real TC he's my fave player. West Ham...,0,None,None,Somerset,Amsterdam,http://pbs.twimg.com/profile_images/4991887419...,http://abs.twimg.com/images/themes/theme1/bg.png
9,737401830,wonswoon,ciara,im stronger than the other members. im sevente...,1,None,None,16 ~ she/they ~ ireland,Casablanca,http://pbs.twimg.com/profile_images/7039331449...,http://pbs.twimg.com/profile_background_images...

In [35]:
pd.unique(df.USERNAME.ravel())

array([u'George_k410', u'babalola_biodun', u'Kitchen_sink33',
       u'BIackEverything', u'timkaine', u'tonycottee1986', u'wonswoon'], dtype=object)

In [11]:
df = pd.read_sql_query('SELECT TIMEZONE, COUNT(*) as `number_of_zones`'
                       'FROM data '
                       'GROUP BY TIMEZONE '
                       'ORDER BY -number_of_zones', disk_engine)

display(df)

                          TIMEZONE  number_of_zones
0                             None            54863
1       Eastern Time (US & Canada)            26100
2       Pacific Time (US & Canada)            21096
3       Central Time (US & Canada)            16014
4                            Quito             6615
5           Atlantic Time (Canada)             6170
6                           London             5334
7                          Arizona             2944
8                        Amsterdam             2765
9                           Hawaii             1890
10     Mountain Time (US & Canada)             1827
11                          Alaska             1501
12                      Casablanca              961
13                          Athens              815
14             West Central Africa              658
15                       Ljubljana              453
16                          Dublin              405
17                           Paris              387
18                        Brasilia              369
19                       New Delhi              367
20                 Central America              357
21                         Beijing              355
22                          Sydney              337
23                          Berlin              329
24                         Baghdad              286
25                            Rome              240
26                        Mazatlan              239
27                         Tijuana              238
28                          Madrid              231
29                         Jakarta              216
..                             ...              ...
495      instagram: @damnWILDchild                1
496                         jarpad                1
497                    jersey girl                1
498          knoxville\, tennessee                1
499   location: where the food is                 1
500       looking for the answer                  1
501                             md                1
502                   nezoshi/ma√©                 1
503              on yo bitch mind                 1
504                       peckham                 1
505                           sWÃ∏s                1
506                      sao paulo                1
507         she/they ‚Ä¢ philippines                1
508           snapchat_eduardo9985                1
509               southampton\, uk                1
510             st cloud state\,mn                1
511               stamford bridge                 1
512                      stay woke                1
513                     steel city                1
514                             us                1
515                            uww                1
516               where data flows                1
517      wherever the sun shines ‚òÄ                1
518              with asap rocky ‚ù£                1
519         your local juice brand                1
520            your wildest dreams                1
521      √úT: 41.654712\,-83.528995                1
522            –†–æ—Å—Å–∏—è (Russia) #ru                1
523    ‚ô° OFFICIAL TWITTER ACCOUNT                 1
524  ‚ùÅ‚Ä¢~‚úø¬∞~‚ùÄMagicLove‚ò™astle‚ùÄ~¬∞‚úø~‚Ä¢‚ùÅ                1

[525 rows x 2 columns]

In [12]:

df = pd.read_sql_query('SELECT TIMEZONE, COUNT(*) as `zonescount`'
                       'FROM data '
                       'GROUP BY TIMEZONE '
                       'ORDER BY -zonescount', disk_engine)

py.iplot([Bar(x=df.TIMEZONE, y=df.zonescount)], filename='timezonevstatuscount')

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~sfisoc/0 or inside your plot.ly account where it is named 'timezonevstatuscount'

In [20]:
df = pd.read_sql_query('SELECT USERNAME, STATUS_COUNT, COUNT(STATUS_COUNT) as `statuscount`'
                       'FROM data '
                       'GROUP BY USERNAME '
                       'ORDER BY -statuscount', disk_engine)
display(df)

                         USERNAME STATUS_COUNT  statuscount
0                     TatySimoneC         2104          111
1                      LPringle19      25655.0          109
2                          lmayes        10841          106
3                 TweetinFeminist         2190          100
4                   Blake_mayes24         5602           99
5                 KenrickLlamarse         1063           97
6                 hannahrichburg1         1759           97
7                  sarahirwin__10         3626           96
8                   OmariHardwick         4479           94
9                       HailState         7733           93
10                 paolothehammer         5351           93
11                 Sammy_Taylor88         9777           92
12                      KeshaRose       5913.0           91
13                        zypisfy        10402           91
14                        ChidoD_          697           90
15                    SarcasmSaid         9660           89
16                     socialmoms        63133           89
17                      HChollman       5402.0           88
18                       kimttran       1332.0           88
19                     Faptallica         2224           87
20                     Iam_Imanse       1770.0           87
21                   aangienguyen         5079           87
22                  hannahfaith7_        15394           87
23                      DavidMuir         5880           86
24                   HarrisonB123         2719           86
25                  genievefiggis         2591           86
26                      jnusser62        15703           86
27                        pled17s        11646           86
28                 _SIMPLYlaurenk        33846           85
29                      emgreerie        30813           85
...                           ...          ...          ...
6738  2013-10-15 23:41:07.0000000         None            0
6739  2013-11-06 13:19:07.0000000         None            0
6740  2013-12-05 03:16:10.0000000         None            0
6741  2013-12-05 06:56:53.0000000         None            0
6742  2013-12-12 21:50:28.0000000         None            0
6743  2013-12-25 01:45:31.0000000         None            0
6744  2013-12-29 01:13:02.0000000         None            0
6745  2014-01-19 15:10:14.0000000         None            0
6746  2014-01-20 11:42:53.0000000         None            0
6747  2014-01-24 20:13:59.0000000         None            0
6748  2014-01-27 12:54:06.0000000         None            0
6749  2014-02-25 18:28:14.0000000         None            0
6750  2014-03-29 04:33:21.0000000         None            0
6751  2014-06-24 20:51:18.0000000         None            0
6752  2014-08-04 03:01:23.0000000         None            0
6753  2014-09-05 18:03:58.0000000         None            0
6754  2014-10-13 21:02:17.0000000         None            0
6755  2014-10-28 12:17:20.0000000         None            0
6756  2014-11-04 18:27:09.0000000         None            0
6757  2014-11-08 17:02:29.0000000         None            0
6758  2014-11-10 21:12:48.0000000         None            0
6759  2015-01-21 18:46:41.0000000         None            0
6760  2015-03-30 01:48:32.0000000         None            0
6761  2015-05-05 07:01:52.0000000         None            0
6762  2015-05-12 10:46:22.0000000         None            0
6763  2015-06-24 23:19:19.0000000         None            0
6764  2015-08-06 22:59:47.0000000         None            0
6765  2015-08-20 17:52:46.0000000         None            0
6766  2015-09-03 07:48:35.0000000         None            0
6767  2016-01-07 05:05:01.0000000         None            0

[6768 rows x 3 columns]

In [19]:

df = pd.read_sql_query('SELECT USERNAME, STATUS_COUNT, COUNT(STATUS_COUNT) as `statuscount`'
                       'FROM data '
                       'GROUP BY USERNAME '
                       'ORDER BY -statuscount', disk_engine)



trace = Scatter(
    x = df.USERNAME,
    y = df.statuscount
)

data = [trace]


py.iplot(data, filename='useridvstatuscount')

In [64]:
df = pd.read_sql_query('SELECT USERNAME, FRIENDS, CAST(data.FRIENDS as int64) as numbers '
                       'FROM data ', disk_engine)

display(df)

               USERNAME FRIENDS   numbers
0           George_k410     248     248.0
1       babalola_biodun     767     767.0
2        Kitchen_sink33     335     335.0
3           George_k410     248     248.0
4       BIackEverything   88096   88096.0
5       babalola_biodun     767     767.0
6        Kitchen_sink33     335     335.0
7              timkaine     719     719.0
8        tonycottee1986    1238    1238.0
9              wonswoon    2407    2407.0
10            queenncam      53      53.0
11         Matt_one_kid     328     328.0
12       PR1investments     255     255.0
13           RogersTimi     200     200.0
14      babalola_biodun     767     767.0
15             schoneck     343     343.0
16             wonswoon    2407    2407.0
17             timkaine     719     719.0
18       lindseyelsbury     673     673.0
19           __samone__     259     259.0
20         Matt_one_kid     328     328.0
21             schoneck     343     343.0
22        EmilySantelli     184     184.0
23       lindseyelsbury     673     673.0
24             wonswoon    2407    2407.0
25      AllHipHopModels   38025   38025.0
26      BIackEverything   88096   88096.0
27         Kelencoleman     400     400.0
28           __samone__     259     259.0
29      BIackEverything   88096   88096.0
...                 ...     ...       ...
159970  BreanneMarie123     854     854.0
159971  FHSWarriorCheer      63      63.0
159972        Emkaylynn     589     589.0
159973      baby_simmer     136     136.0
159974          ambrjet     536     536.0
159975   stonecoldbetch     268     268.0
159976       RenaeMEddy    2292    2292.0
159977      THATSJUSTYA    1081    1081.0
159978      CantuRandy2     714     714.0
159979  BreanneMarie123     854     854.0
159980        Emkaylynn     589     589.0
159981     robson62_lew     375     375.0
159982      baby_simmer     136     136.0
159983  JulianneAlmasUS   12587   12587.0
159984    RadicalRhymez     381     381.0
159985      CantuRandy2     714     714.0
159986           A5ELOS  436045  436045.0
159987   huntingxchurch    4989    4989.0
159988    AndreaDeckard    5187    5187.0
159989      baby_simmer     136     136.0
159990        Emkaylynn     589     589.0
159991     robson62_lew     375     375.0
159992        340937564     137     137.0
159993      CantuRandy2     714     714.0
159994     NCquitestorm    5590    5590.0
159995   huntingxchurch    4989    4989.0
159996      baby_simmer     136     136.0
159997       RenaeMEddy    2292    2292.0
159998      whoissizzle   36783   36783.0
159999        Emkaylynn     589     589.0

[160000 rows x 3 columns]

In [38]:
df = pd.read_sql_query('SELECT USERNAME, FRIENDS, IS_FRIEND, MAX(FRIENDS) as `checkFriend`'
                       'FROM data '
                       'GROUP BY USERNAME '
                       'ORDER BY -checkFriend', disk_engine)


xData = df.IS_FRIEND
yData = df.FRIENDS
zData = df.USERNAME
trace = Scatter(
    x = yData,
    y = xData,
    mode = 'markers'
)

layout = Layout(
    xaxis=dict(
        range=[0, df.checkFriend]
    ),
    yaxis=dict(
        range=[0, 1]
    )
    
)

data = [trace]

fig = Figure(data = data, layout= layout)




py.iplot(fig, filename='useridvisfriend')